GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

DB_URL=jdbc:postgresql://localhost:5432/flowyx
DB_USERNAME=flowyx
DB_PASSWORD=flowyx123

CORS_ALLOWED_ORIGINS=http://localhost:5173
